body {
    background-color: #ccc;
}
.title {
    color : red;
}
.header {
    color : red;
    background-color: #ccc;
    text-align: center;
}

.belt_nikon img {
    width: 100px; /* 任意の幅に設定 */
    height: auto; /* 高さは自動調整されます */
}

.search_box {
    display: inline-block; /* なくても大丈夫だけど、念の為 */
    position: relative;    /* 基準値とする */
}

.search_box::before {
    content: "";           /* 疑似要素に必須 */
    width: 16px;           /* アイコンの横幅 */
    height: 16px;          /* アイコンの高さ */
    background: url(./icon.png) no-repeat center center / auto 100%; /* 背景にアイコン画像を配置 */
    display: inline-block; /* 高さを持たせるためにインラインブロック要素にする */
    position: absolute;    /* 相対位置に指定 */
    top: 4px;              /* アイコンの位置。微調整してね */
    left: 5px;             /* アイコンの位置。微調整してね */
}

.search_box input {
    padding: 3px 0 3px 2em; /* アイコンを設置するため左の余白を多めに指定*/
}

.nikon-title{
    color: yellow;
}