<!DOCTYPE HTML>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>cameraDotRenz</title>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    </head>
    <body>
        <header class = "header">
            <h1 name = "title">CameraDotRenz</h1>
            <div class = "search_box">
                <input type = "text" placeholder="カメラを検索">
            </div>
        </header>
        <div class="belt_nikon">
            <div class = "container_nikon">
                <img src="{{ url_for('static', filename='images/NikonZ8.jpg') }}">
            </div>
        </div>
    </body>
</html>